body {
  counter-reset: section;
}
.card-container {
  height: 255px;

  margin-top: 48px;
  margin-bottom: 113px;
}

.best-tag {
  margin-bottom: 15px;
  margin-top: 15px;

  background: #ff7724;
  width: 145px;
  height: 34px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-tag > p {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.trophy-img {
  width: 20px;
  height: 20px;
}
main {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.builder1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comp-img {
  width: 141px;
  height: 101px;
  margin-top: 45px;
}
.description > h2 {
  width: 490px;
  height: 72px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  columns: #4b5665;
}
.description > h2 > span {
  font-weight: 400;
  font-size: 16px;
  color: #4b5665;
  line-height: 24px;
}

.highlight > h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.highlight > p {
  width: 475px;
  height: 72px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 14px;
  text-align: left;
  color: #4b5665;
}
.rating {
  width: 135px;
  height: 118px;
  background-color: #f3f9ff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.rating > h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;

  color: #074786;
}
.rating > p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #074786;
}
.star-img {
  width: 66px;
  height: 11px;
}
.last {
  display: flex;

  justify-content: space-between;
  gap: 34%;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 27px;
}
.show {
  display: flex;
  align-items: center;
}
.show > a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b88f4;
  text-decoration: none;

  margin-left: 310px;
}
.down-icon {
  height: 16px;
  width: 16px;
  margin-left: 6px;
}
.last > button {
  width: 232px;
  height: 48px;
  border-radius: 12px;
  border: none;
  color: #fff;
  background: #1b88f4;
}

.main-section::before {
  counter-increment: section;
  content: " " counter(section) " ";
  width: 44px;
  height: 44px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e1e4e6;
  margin-bottom: 129px;
}
